#root {
  width: 40%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #535bf2;
  border: #1a1a1a solid 2px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
button{
  color: white;
  background: #646cff;
  border: #1a1a1a solid 2px;
}
button:hover {
  border-color: aqua;
}
form{
  max-width: 600px;
  max-height: 600px;
  flex-wrap: wrap;
  text-align: left;
  min-width: 300px;
  min-height: 300px;
}
body{
  background-color: #646cff;
  align-self: center;
}
#cena{
  margin-left: 200px;
}
